*{
box-sizing: border-box;
}
body{
height: 100vh;
margin: 1vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: aquamarine;
}

#board {
display: grid;
grid-template-columns: repeat(3, 10vmin);
grid-template-rows: repeat(3, 10vmin);
gap: 0vmin;
margin: 3vmin;
justify-content: center;
padding: 5vh;
}
header{
    font-size: 40px;
}
#board > div{
    border: solid white;
    background-color: black;
    box-sizing: 200px;
}


#playAgain{
    height: 4vh;
    width: 8vh;
    background-color: chartreuse;
}